#window{
    width: 200px;
    height: 150px;
    background-color:#437A58;
    padding: 5px;
}
#modal{
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal.hidden{
    display: none;
}