:root{
    --background-color: #F8ECC2;
    --color:#3F3F3F;
    --primary:#B4CD93;
    --primary_color:#3F3F3F;
    --primary_two:#A2C17D;
    --color_dash: #DD0101;
}
.dark{
    --background-color: #242424;
    --color: #F8ECC2;
    --primary:#437A58;
    --primary_color:#B4CD93;
    --primary_two:#376348;
    --color_dash: #FFD21D;
}
body{
    color: var(--color);
    background-color: var(--background-color);
}
h1{
    text-align: center;
}
#dark{
    background-color: var(--primary);
    color: var(--primary_color);
    border: 0px;
    border-radius: 8px;
    width: 32px;
    height: 32px;
    font-size: 20px;
    position: fixed;
    top:20px;
    right: 20px;
}
#dark:hover{
    background-color: var(--primary_two);
}
#dark:active{
    background-color: var(--primary_two);
    transform: scale(0.98);
}
#moon{
    display: inline-block;
    transition:transform .5s, opacity .5s;
}
.button{
    background-color: var(--primary);
    color: var(--primary_color);
    border: 0px;
    border-radius: 8px;
    width: 128px;
    height: 32px;
    font-size: 16px;
    transition: 0.2s;
}
.button:hover{
    background-color: var(--primary_two);
}
.button:active{
    background-color: var(--primary_two);
    transform: scale(0.98);
}
#returns{
    border-radius: 8px;
    width: 32px;
    height: 32px;
}
#top_bar {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}